.root {
  padding: 100px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;

  span {
    font-size: 64px;
  }

  .underline {
    margin-top: 30px;
  }

  a {
    border-bottom: 3px solid #181818;
  }
}